

@using wholesale.Controllers;
@using wholesale.Models;
@{

    string username = ViewBag.usernameGL;////////////////
    int countInCart = ViewBag.countInCartGL;///////////////
    int countInWish = ViewBag.countInWishGL;///////

    int user_id = ViewBag.user_idGL;//////////////////



}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Category</title>
    <link rel="icon" href="../../Content/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="../../Content/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../Content/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../../Content/vendors/linericon/style.css">
    <link rel="stylesheet" href="../../Content/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../Content/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../../Content/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../../Content/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="../../Content/css/style.css">
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item"><a class="nav-link" href="~/Main/Index?id=@user_id">Home</a></li>
                            <li class="nav-item active submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="~/Product/Index?id=@user_id">Shop Category</a></li>


                                    <li class="nav-item"><a class="nav-link" href="~/Product/Cart?user_id=@user_id">Shopping Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/Product/HistoryOfUser?user_id=@user_id">Order History</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/Product/WishList?user_id=@user_id">Wish List</a></li>

                                </ul>
                            </li>
                           @* <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                </ul>
                            </li>*@
                            <!--<li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="~/Login/Index">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/Registration/Index">Register</a></li>-->
                                    @*       <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>*@
                                <!--</ul>
                            </li>-->
                            <li class="nav-item"><a class="nav-link" href="~/Contact/Index?id=@user_id">Contact</a></li>
                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item"><button><a href="~/Product/WishList?user_id=@user_id"><i class="ti-heart"></i><span class="nav-shop__circle">@countInWish</span></a> </button></li>

                            <li class="nav-item"> <button><a href="~/Product/Cart?user_id=@user_id"> <i class="ti-shopping-cart"></i><span class="nav-shop__circle">@countInCart</span></a></button> </li>


                            <li class="nav-item"><a class="button button-header" href="~/Product/Index?id=@user_id">Buy Now</a></li>
                        </ul>
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                    </svg>
                                    @ViewBag.username
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="~/Login/Index">Quit</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/Registration/Index">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    @RenderBody()
    <!-- ================ Subscribe section end ================= -->
    <!--================ Start footer Area  =================-->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Our Mission</h4>
                            <p>
                                Any client is important to us. our task is to make every customer happy. For us, every wish of the buyer is a law. We love and appreciate every customer.
                            </p>
                            
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Quick Links</h4>
                            <ul class="list">
                                <li><a href="~/Main/Index?id=@user_id">Home</a></li>
                                <li><a href="~/Product/Index?id=@user_id">Shop</a></li>
                                <li><a href="~/Contact/Index?id=@user_id">Contact</a></li>
                                <li><a href="~/Product/Cart?user_id=@user_id">Cart</a></li>
                                <li><a href="~/Product/HistoryOfUser?user_id=@user_id">Order</a></li>


                            </ul>
                        </div>
                    </div>
                  @*  <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Gallery</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="../../Content/img/gallery/r1.jpg" alt=""></li>
                                <li><img src="../../Content/img/gallery/r2.jpg" alt=""></li>
                                <li><img src="../../Content/img/gallery/r3.jpg" alt=""></li>
                                <li><img src="../../Content/img/gallery/r5.jpg" alt=""></li>
                                <li><img src="../../Content/img/gallery/r7.jpg" alt=""></li>
                                <li><img src="../../Content/img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>*@
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Head Office
                                </p>
                                <p>street Swerdlova 15, Minsk</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Phone Number
                                </p>
                                <p>
                                    +8 (029) 5480141
                                    
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    dowroptovik@mail.com <br>
                                    www.dowroptovik.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">-->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!--Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <!--</p>
                </div>
            </div>
        </div>-->
    </footer>
    <!--================ End footer Area  =================-->



    <script src="../../Content/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../Content/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../Content/vendors/skrollr.min.js"></script>
    <script src="../../Content/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../Content/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="../../Content/vendors/nouislider/nouislider.min.js"></script>
    <script src="../../Content/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="../../Content/vendors/mail-script.js"></script>
    <script src="../../Content/js/main.js"></script>
</body>
</html>

